html {
    min-height: 100%;
    position: relative;    
}

/*HEADER*/
header {
    position: sticky !important ; 
	top: 0 !important;
    background-color: f6fafa;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 5px;
}

/*FOOTER*/
footer {
    position:absolute;
    background-color: f6fafa;
    /*text-align:center;*/
    left:0;
    width:100%;
    bottom: 0;
}

.grid-container-footer {
    color:#3366cc;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  

.grid-item-footer{
    padding: 5px;
}

.card{
    position: static !important;
}

